<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="lite6_ros2_control" params="prefix
    velocity_control:='false'
    ros2_control_plugin:='ign_ros2_control/IgnitionSystem'
    hw_ns:='xarm' add_gripper:='false'
    robot_ip:='' report_type:='normal' baud_checkset:='true' default_gripper_baud:=2000000
    joint1_lower_limit:=${-2.0*pi}  joint1_upper_limit:=${2.0*pi}
    joint2_lower_limit:=${-2.61799}  joint2_upper_limit:=${2.61799}
    joint3_lower_limit:=${-0.061087}  joint3_upper_limit:=${5.235988}
    joint4_lower_limit:=${-2.0*pi}  joint4_upper_limit:=${2.0*pi}
    joint5_lower_limit:=${-2.1642}  joint5_upper_limit:=${2.1642}
    joint6_lower_limit:=${-2.0*pi}  joint6_upper_limit:=${2.0*pi}">
    <ros2_control name="FakeSystem" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>
            <joint name="joint1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0.172788</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0.5550147</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0.3822271</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
  </xacro:macro>
</robot>