<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="lite6_gazebo" params="prefix">

    <gazebo reference="${prefix}link_base">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${prefix}link1">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${prefix}link2">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${prefix}link3">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${prefix}link4">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${prefix}link5">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${prefix}link6">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${prefix}realsense_camera">
      <sensor name="realsense_d435" type="rgbd_camera">
        <pose>0 0 0 0 0 -1.571</pose>
        <update_rate>60</update_rate>
        <camera name="camera">
          <horizontal_fov>1.0472</horizontal_fov>
          <lens>
            <intrinsics>
              <!-- fx = fy = width / ( 2 * tan (hfov / 2 ) ) -->
              <fx>554.25469</fx>
              <fy>554.25469</fy>
              <!-- cx = ( width + 1 ) / 2 -->
              <cx>320.5</cx>
              <!-- cy = ( height + 1 ) / 2 -->
              <cy>240.5</cy>
              <s>0</s>
            </intrinsics>
          </lens>
          <distortion>
            <k1>0.0</k1>
            <k2>0.0</k2>
            <k3>0.0</k3>
            <p1>0.0</p1>
            <p2>0.0</p2>
            <center>0.5 0.5</center>
          </distortion>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.01</near>
            <far>300</far>
          </clip>
          <depth_camera>
            <clip>
              <near>0.1</near>
              <far>10</far>
            </clip>
          </depth_camera>
          <noise>
            <type>gaussian</type>
            <mean>0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>
